h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.2rem 0;
  font-weight: 600;
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  line-height: 1.5;
}
h2 {
  font-size: 1.6em;
  line-height: 1.5;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .8em;
}

p {
  margin: 1em 0;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}

blockquote {
  margin: 1em 0;
  border-left: solid 4px #DDD;
  padding: 0 1em;
  font-size: 1em;
}

ol,
ul {
  margin: 1em 0;
  padding-left: 2em;
  font-size: 1em;
  line-height: 1.5;
}
ol li,
ul li {
  margin: .4em 0;
}
.contains-task-list {
  list-style-type: none;
  padding-left: 0;
}
.contains-task-list input[type="checkbox"] {
  vertical-align: middle;
}
dl {
  font-size: 1em;
  line-height: 1.5;
}
dt {
  font-weight: 600;
}
dd + dt {
  margin-top: .4em;
}

pre {
  margin: 1em 0;
  border-radius: 4px;
  padding: .4em .6em;
  font-size: 1em;
  line-height: 1.5;
  background-color: #EEE;
}
code {
  font-family: 'Roboto Mono', Menlo, 'Source Code Pro', Consolas, monospace;
  border-radius: 3px;
  padding: .2em .4em;
  font-size: .9em;
  line-height: 1.6;
  background-color: #EEE;
}
pre code {
  padding: 0;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
}

hr {
  margin: 1.6em 0;
  border: none;
  border-bottom: solid 4px #DDD;
  height: 0;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
}
table tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}
table th,
table td {
  border: solid 1px #DDD;
  padding: .5em .8em;
  font-size: 1em;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #44F;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #669;
}

img {
  max-width: 100%;
}
img:only-child {
  display: block;
  margin: 0 auto;
  width: auto;
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

s {
  text-decoration: line-through;
}

sub,
sup {
  font-size: .7em;
  line-height: 0;
  vertical-align: middle;
  position: relative;
}
sub {
  bottom: -.4em;
}
sup {
  top: -.4em;
}
